/* @import 'meyer-reset.css'   <<-- investigate why meyer reset not working*/  

html {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
*, *:before, *:after {
  -webkit-box-sizing: inherit;
  -moz-box-sizing: inherit;
  box-sizing: inherit;
}

body {
  margin: 0;
  overscroll-behavior: none;
  /* overflow: hidden; */
}

.viewport {
    display: grid;
    grid-template-areas:
        "selectAll header"
        "nav content";
    grid-template-columns: 2rem 10000px;
    grid-template-rows: 19px;
    margin-top: 5.5rem;
    height: 1000vh;
    width: 1000vh;
    background-color: lightgoldenrodyellow;
}
.rows {
    grid-area: content;
    margin-top: 0.5rem;
    position: fixed;
    left: 2rem;
    top: 6.7rem;
}

.row {
    display: flex;
    background-color: white;
    /* background: #f0808017; */
    
}

.row.row-shifted {
    margin-left: 50px;

}

.grid-shift-button {
    font-family: cursive;
    background: silver;
    padding: 3px;
    border: 0;
    cursor: pointer;
    outline: none;
    margin: 3px;
    border-radius: 3px; 
    margin-left: 2rem;
}

.header-column {
    grid-area: nav;
    position: fixed;
    flex-direction: column;
    display: flex;
    top: 7.1rem;
}

.header-row {
    grid-area: header;
    position: fixed;
    width: 100000px;
    top: 5.9rem;
    left: 2rem;}

.cell {
    border: 1px solid lightgrey;
    /* width: 100px; */
    height: 27px;
    padding: 1px;
    font-family: system-ui;
    font-size: 12px;
    /* background: #f0808017; */
    z-index: 10;
}
.cell-display {
    width: max-content;
    overflow: scroll;
    background:white;
}

.cell-editor-input {
    font-family: system-ui;
    background:white;
    font-size: 12px;
    border: 0;
    outline: none;
    width: max-content;
    height: -webkit-fill-available; 
}

.header-cell {
    display: inline-block;
    height: 27px;
    border: 1px solid lightgrey;
    width: 100px;
    text-align: center;
    background: azure;
    padding: 4px;   
    font-family: system-ui;
    font-size: smaller;
    color: black;
    text-shadow: 1px;
    /* animation: brighter 10s infinite; */
}
@keyframes brighter {
    50% { 
        filter: brightness(1.3);
        border: 1px solid darkgray;
    }
}


.header-cell.row {
    display: inline-block;
    height: 27px;
    width: 2rem;
    border: 1px solid lightgrey;
    width: px;
    text-align: center;
    padding: 4px;   
    font-family: system-ui;
    color: black;
    text-shadow: 1px;
}

.cursor {
    border: 2px solid blue;
    animation: mymove 4s infinite;
    /* animation-delay: 5s; */
}
.header-cursor {
    /* animation: mymove 5s infinite; */
    background: black !important;
    color:white !important;
}


.header-cell.corner {
    grid-area: selectAll;
    position: fixed;
    top: 5.9rem;
    z-index: 1000;
    width: 2rem;
    background-image: linear-gradient(135deg,black, grey, white,  #61242491,  #61242491) !important;
}

.menu-bar {
    position: fixed;
    top: 0;
    width: 100%;
    background: #e7f2f5;;
    overflow: hidden;
    z-index: 10000;
    height: 2rem;
}

.tool-bar {
    position: fixed;
    top: 2rem;
    height: 2.5rem;
    width: 100%;
    background:#e7f2f5;;
    overflow: hidden;
    z-index: 10000;
    height: 2rem;
}

.function-bar {
    position: fixed;
    top: 4rem;
    width: 100%;
    background:beige;
    overflow: hidden;
    z-index: 10000;
    height: 1.5rem;
}

.color0col {
    background-image: linear-gradient(to right, #61242491, #ff000066);
}
.color1col {
    background-image: linear-gradient(to right,#ff000066,#ffa5008a);
}
.color2col {
    background-image: linear-gradient(to right,#ffa5008a,#ffff0091);
}
.color3col {
    background-image: linear-gradient(to right,#ffff0091,#0080006e);
}
.color4col {
    background-image: linear-gradient(to right,#0080006e,#0000ff85);
}
.color5col {
    background-image: linear-gradient(to right,#0000ff85,#4b00827d);
}
.color6col {
    background-image: linear-gradient(to right,#4b00827d,#ee82ee85);
}
.color7col {
    background-image: linear-gradient(to right,#ee82ee85, #61242491);
}
.color0row {
    background-image: linear-gradient(to bottom, #61242491, #ff000066);
}
.color1row {
    background-image: linear-gradient(to bottom,#ff000066,#ffa5008a);
}
.color2row {
    background-image: linear-gradient(to bottom,#ffa5008a,#ffff0091);
}
.color3row {
    background-image: linear-gradient(to bottom,#ffff0091,#0080006e);
}
.color4row {
    background-image: linear-gradient(to bottom,#0080006e,#0000ff85);
}
.color5row {
    background-image: linear-gradient(to bottom,#0000ff85,#4b00827d);
}
.color6row {
    background-image: linear-gradient(to bottom,#4b00827d,#ee82ee85);
}
.color7row {
    background-image: linear-gradient(to bottom,#ee82ee85, #61242491);
}

@keyframes mymove {
    0% {
        border: 2px solid blue;
        /* box-shadow: 5px 6px 100px 10px yellow */
    }
    20% {
        border: 2px solid blue;
        /* box-shadow: 5px 6px 100px 10px turquoise */
    }
    40% {
        border: 2px solid indigo;
        /* box-shadow: 5px 6px 100px 10px purple */
    }
    60% {
        border: 2px solid violet;
        /* box-shadow: 5px 6px 100px 10px green */
    }
    80% {
        border: 2px solid orange;
        /* box-shadow: 5px 6px 100px 10px orange */
    }
    100% {
        border: 2px solid green;
        /* box-shadow: 5px 6px 100px 10px violet */
    }
    
}
/* @keyframes mymove {
    0% {border: 2px solid blue;}
    25% {
        border: 2px solid indigo;
        box-shadow: 5px 6px 100px 10px yellow
    }
    50% {border: 2px solid violet;}
    75% {border: 2px solid orange;}
    100% {border: 2px solid green;}
    
} */

.flip {
    animation: myflip 0.4s;
}
@keyframes myflip {
    50% { transform: rotateY(-180deg)}
}

/* 
.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
} */
